div.allCards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    section {
        flex-basis: calc(50% - ($gutter / 2));
    }
}

/* FOOTER HERE */

footer div {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    }