$backgroundColor: #FEF6F0;
$primaryColor: #274754; 
$secondaryColor: #EE7557;
$accentColor: #f9a64e;
$iconColor: #acece5;
$greyColor: #DADADA;

$defaultFont:'Montserrat', sans-serif;
$lightWeight: 500;
$normalWeight: 600;
$leading: 150%;

$gutter: 10px;